<div class="footer">
  <div class="firstpart">
    <li><h3>Get to Know Us </h3> </li>
    <div class="firstsub">    <li> About Us</li>
    <li> Careers</li>
    <li> Press Releases</li>
    <li> ShopCart Science</li>
  </div>

  </div>

  <div class="second">

   <h3 >Make Money with Us</h3>
   <div class="firstsub">
      <li>  Sell on Shopcart</li>
      <li>  Sell under Shopcart Accelerator</li>
      <li> Protect and Build Your Brand</li>
      <li> Shopcart Global Selling</li>
      <li>  Become an Affiliate</li>
      <li> Fulfilment by Shopcart</li>
    </div>
  </div>

  <div class="third">

   <h3> Let Us Help You </h3>
   <div class="firstsub">
   <li> COVID-19 and Shopcart </li>
   <li>  Your Account </li>
   <li> Returns Centre </li>
   <li>100% Purchase Protection </li>
   <li>Shopcart App Download </li>
   <li>Shopcart Assistant Download </li>
   <li>Help </li>
  </div>

  </div>

  <div class="follow">

    <h3>Follow us on</h3>
    <div class="socialmedia">
    <button>  <img class="linkedin" src="./../../assets/footer/linkedin.svg" alt=""></button>
    <button> <img class="facebook" src="./../../assets/footer/facebook.svg" alt=""> </button>
    <button>  <img class="slack" src="./../../assets/footer/slack.svg" alt=""> </button>
    <button>  <img class="twitter" src="./../../assets/footer/twitter.svg" alt=""> </button>
    <button>  <img class="youtube" src="./../../assets/footer/youtube.svg" alt=""> </button>

  </div>
    </div>


</div>



