<div class="navbars">
<div class="navbar">

  <div class="logogrp">
    <img class="logo" src="../../assets/nav bar/shop logo.png" alt="">
    <h2>ShopCart</h2>
  </div>

  <div class="category">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <button class="nav" id="categoryup" routerLink="/categories"> Categories <span class="material-symbols-outlined">
      expand_more
    </span></button>
  <button class="nav" routerLink="/deals" > Deals </button>
  <button class="nav" routerLink="/whatsnew" > What's New </button>
  <button class="nav"> Delivery </button>
</div>


<div class="search">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <input type="text" placeholder="search product" class="searching"  >


  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <button class="nav" id="account"> <span class="material-symbols-outlined">
    person
    </span> Account </button>


    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


  <button class="nav" id="cart"> <span class="material-symbols-outlined">
    shopping_cart
    </span> Cart  </button>
</div>
</div>
</div>.
