<div class="upper">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<p class="phones">+001234567890</p>
<p>Get 50% off on Selected Items  |  Shop Now</p>
<div class="btn">
  <button class="btnUpper">Eng <span class="material-symbols-outlined">
  expand_more
  </span></button>
<button class="btnUpper" >Location <span class="material-symbols-outlined">
  expand_more
  </span></button>
</div>

</div>
