<div class="filter">
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

<button class="btnfilter">Headphone type <span class="material-symbols-outlined">
  expand_more
  </span> </button>
<button class="btnfilter">Price <span class="material-symbols-outlined">
  expand_more
  </span></button>
<button class="btnfilter">Review <span class="material-symbols-outlined">
  expand_more
  </span> </button>
<button class="btnfilter">Color <span class="material-symbols-outlined">
  expand_more
  </span></button>
<button class="btnfilter">Material <span class="material-symbols-outlined">
  expand_more
  </span></button>
<button class="btnfilter">Other <span class="material-symbols-outlined">
  expand_more
  </span></button>
<button class="btnfilter">All Filter <span class="material-symbols-outlined">
  tune
  </span> </button>
</div>
